body {
    background-color: rgb(25, 223, 223);
}

.card,
.cardContent {
    width: 70px;
    height: 120px;
}

.card {
    background-color: chartreuse;
    display: inline-block;
    margin-right: 5px;
    border-style: solid;
    border-color: rgb(39, 168, 27);
    border-radius: 10px;
    border-width: 5px;
    position: relative
}

.card:hover {
    background: #ff9f19;
}

.card:active {
    background: tomato;
}

.cardContent {
    display: table-cell;
    color: white;
    font-size: 24pt;
    text-align: center;
    vertical-align: middle;
}